<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectjava">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="Learn and Test-Java"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectJava">
        <activity
            android:name=".answers"  android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profile"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".javavideos"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".javaquiz"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".javainterview"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".javatutorial"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>